<div class="data-table-container" id="data-table-container">
    <div class="data-table-header">
        <i class="fas fa-arrow-left" onclick="VM.navBack()"></i>
        <p class="data-form-control-header-title"></p>
    </div>
    <div class="data-table-body" id="data-table-body">
        <table id="data-table-table">
        </table>
    </div>
    <div class="data-table-footer">
        <p>© Copyright QCM 2021</p>
        <input type="submit" id="data-input-table-submit" value="Submit" />
    </div>
</div>