:root{
    --sidebar-width:250px;
    --sidebar-color:#3498db;
    --main-content-color: #ecf0f1;
}

.sidebar-container{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width: var(--sidebar-width);
    background: var(--sidebar-color);
}

.main-content-container{
    position:absolute;
    top:0;
    left: var(--sidebar-width);
    right:0px;
    bottom:0px;
    background: var(--main-content-color);
    margin:20px;
}